#sticky{
    position: absolute;
    top:0;
    width:100%;
}

#container > div > div > img{
    position: relative;
    left: 60px;
    width: 80px;
}

#container div div h2{
    font-family: Helvetica;
    font-size: 15px;
    color: aquamarine;
    padding-top: 30px;
    position: absolute;
    display: inline-block;
    padding-left: 55px;
}

#container > .navbar > .logo > img {
    width: 70px;
    margin: auto 1em;
}

.menu{
    background:#184d47;
    text-align:center;
	position: relative;
	right: 0px;
	padding-bottom: 20px;
}

.menu-ul{
    margin:0;
    padding:0;
    display:inline;
}

.menu-ul li{
    font-size:17px;
    list-style:none;
    display:inline-block;
    padding:25px 25px 26px 25px;
}

.a-menu{
    text-decoration:none;
    color:white;
}

.menu-ul li:hover{
    background: #5b8c5a;
    transform:scale(1);
}

.search-box{
    border:1px solid white;
    border-radius:50px;
    background:white;
    width:max-content;
    display:inline-block;
    margin:8px;
}

.search-box:hover{
    box-shadow:0 0 10px 2px #5b8c5a;
    border: 1px solid #5b8c5a;
}

.search-input{
    width:250px;
    border:none;
    font-size:16px;
    outline:none;
    background:transparent;
    margin:15px 0 0 10px;
}

#search form button {
    font-size: 15px;
    margin: 0 10px 10px 10px;
}


#container div div img{
    position: relative;
    left: 60px;
    width: 80px;
}

#container div div h2{
    font-family: Helvetica;
    font-size: 15px;
    color: aquamarine;
    padding-top: 30px;
    position: absolute;
    display: inline-block;
    padding-left: 55px;
}

#first img{
    margin-left: 0;
    height: 350px;
    width: 1400px;
}

#first h1{
    font-family: "Felix Titling";
    font-size: 60px;
    padding-top: 10px;
    text-align: center;
}

#mission h1{
    padding-top: 50px;
    text-align: center;
}
#mission p{
    text-align: center
}
#vision h1{
    padding-top: 50px;
    text-align: center;
}
#vision p{
    text-align: center
}
#team p{
    font-size: 50px;
    padding-top: 50px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 20%;
    padding: 10px;
    justify-content: center;

}
.row{
    display: flex;
    justify-content: center;
}
/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.a {
    padding-right: 150px;
    display: inline-block;
}

/*Footer*/

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 20%;
    padding: 10px;
    justify-content: center;

}
.row{
    display: flex;
    justify-content: center;
}
/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.a {
    padding-right: 150px;
    display: inline-block;
}



.footer{
    background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}

@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}

